

@media screen and (max-width: 1200px) {
    /* ----- Header ----- */

    .container header .container-header, .container-landing, .container-articles, .container-gallery, .container-features, .container-testimonials {
        width: 970px !important;
    }

    .container header .container-header menu .main-ul .link .other-links .cadre-img {
        width: 40%;
    }

    .container header .container-header menu .main-ul .link .other-links .second-ul {
        width: 55%;
    }


    /* ---------- Landing ----------- */
    .container main .landing .container-landing .text {
        width: 340px;
    }

    /* ---------- Articles ----------- */
    .container .articles .container-articles .content .article {
        width: 287px;
    }

    /* ------------ Gallery ------------- */
    .container .gallery .container-gallery .content .box {
        width: 340px;
    }

    /* ------------ Features ------------ */
    .container .features .container-features .content .feature {
        width: 47.5%
    }

    /* ------------ Testimonials ------------ */
    .container .testimonials .container-testimonials .content .box {
        width: 47.5%
    }
    
}



@media screen and (max-width: 992px) {
    /* ----- Header ----- */

    .container header .container-header, .container-landing, .container-articles, .container-gallery, .container-features, .container-testimonials {
        width: 750px !important;
    }

    .container header .container-header menu .main-ul .link .other-links .cadre-img {
        display: none;
    }

    .container header .container-header menu .main-ul .link .other-links .second-ul {
        width: 100%;
    }

    /* ---------- Landing ----------- */
    .container main .landing .container-landing .text {
        width: 340px;
    }

    .container main .landing .container-landing {
        justify-content: space-evenly;
    }

    .container main .landing .container-landing .text {
        width: 500px;
        text-align: center;
    }

    .container main .landing .container-landing .text h1 {
        margin-bottom: 10px;
    }

    .container main .landing .container-landing .cadre-img {
        display: none;
    }
    .container main .landing .container-landing .text h1 {
        text-transform: capitalize;
        letter-spacing: -2px;
        font-size: 40px;
        margin-bottom: 5px;
    }
    
    .container main .landing .container-landing .text p {
        font-size: 23px;
        line-height: 1.7;
        color: #666;
    }


    /* ---------- Articles ----------- */
    .container .articles .container-articles .content .article {
        width: 340px;
    }

}



@media screen and (max-width: 768px) {
    .container-landing, .container-articles, .container-gallery, .container-features, .container-testimonials {
        width: 100%;
    }

    body {
        font-size: 15px;
    }
    /* ----- Header ----- */
    .container header {
        height: 90px;
    }

    .container header .container-header {
        width: 100% !important;
        flex-direction: column;
        line-height: 2.5;
    }

    .container header .container-header .cadre-title  {
        height: 55%;
    }

    .container header .container-header menu {
        height: 45%;
        width: 300px;
    }

    .container header .container-header menu .main-ul .link a {
        font-size: 14px;
    }

    .container header .container-header menu .main-ul .link .other-links {
        top: 150px;
        padding: 5px;
    }

    .container header .container-header menu .main-ul .link:hover .other-links {
        top: 90px;
    }

    .container header .container-header menu .main-ul .link .other-links .second-ul li {
        width: 100%;
    }

    .container header .container-header menu .main-ul .link .other-links .second-ul li a {
        padding: 5px;
    }


    /* ---------- Landing ----------- */
    .container main .landing .container-landing .text {
        width: 340px;
    }

    .container main .landing .container-landing .text {
        max-width: 500px;
        width: 100%;
    }

    .container main .landing .container-landing .text h1 {
        margin-bottom: 10px;
        font-size: 28px;
    }
    
    .container main .landing .container-landing .text p {
        font-size: 18px;
    }


    /* ---------- Articles ----------- */
    .container .articles .container-articles .content .article {
        width: 47%;
    }


    /* ------------ Gallery ------------- */
    .container .gallery .container-gallery .content .box {
        width: 47%;
    }
}


@media screen and (max-width:686px) {
    

    /* ---------- Articles ----------- */
    .container .articles .container-articles .content .article {
        width: 100%;
    }


    /* ------------ Gallery ------------- */
    .container .gallery .container-gallery .content .box {
        width: 100%;
    }


    /* ------------ Features ------------ */
    .container .features .container-features .content .feature {
        width: 100%;
    }


    /* ------------ Testimonials ------------ */
    .container .testimonials .container-testimonials .content .box {
        width: 100%;
    }
}



@media screen and (max-width: 360px) {
    body {
        font-size: 15px;
    }
    /* ----- Header ----- */
    .container header {
        height: 90px;
    }

    .container header .container-header {
        width: 100%;
        flex-direction: column;
        line-height: 2.5;

    }

    .container header .container-header .cadre-title  {
        height: 55%;
    }

    .container header .container-header menu {
        height: 45%;
        width: 300px;
    }

    .container header .container-header menu .main-ul .link a {
        font-size: 14px;
    }
}