@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Cairo", sans-serif;
}

body {
    font-family: "Cairo", sans-serif;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --section-background: #ececec;
}

.flex-r {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* --------- Container ---------- */
.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header header header header header header header header header header header header "
    "main main main main main main main main main main main main ";
}

/* ----- Header ----- */
.container header {
    grid-area: header;
    background-color: rgb(255, 255, 255);
    height: 72px;
    box-shadow: 0 0 10px #ddd;
}

.container header .container-header {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-between;
    position: relative;
}

.container header .container-header .cadre-title  {
    height: 100%;
}

.container header .container-header .cadre-title .title {
    font-weight: bold;
    color: var(--main-color);
    font-size: 1.5em
}

/* -- Menu -- */
.container header .container-header menu {
    height: 100%;
    width: 500px;
}

.container header .container-header menu .main-ul {
    height: 100%;
    width: 100%;
}

.container header .container-header menu .main-ul .link {
    height: 100%;
    width: calc(100% / 4);
    display: grid;
    place-items: center;
}

.container header .container-header menu .main-ul .link > a {
    color: black;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    font-size: 17px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.container header .container-header menu .main-ul .link > a:hover {
    background-color: #f5f5f5;
    color: var(--main-color);
}

.container header .container-header menu .main-ul .link > a::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 5px;
    width: 0;
    background-color: var(--main-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.container header .container-header menu .main-ul .link .other-links {
    position: absolute;
    right: 0;
    top: 120px;
    padding: 30px;
    border-bottom: 3px solid var(--main-color);
    background-color: white;
    align-items: flex-start;
    justify-content: space-between;
        transition: top var(--main-transition), opacity var(--main-transition);
    opacity: 0;
    z-index: -1;
}

.container header .container-header menu .main-ul .link .other-links .cadre-img {
    width: 48%;
}

.container header .container-header menu .main-ul .link .other-links .cadre-img img {
    width: 100%;
}

.container header .container-header menu .main-ul .link .other-links .second-ul {
    width: 48%;
    justify-content: space-between;
}

.container header .container-header menu .main-ul .link .other-links .second-ul li {
    width: 47%;
    border-bottom: 1px solid var(--section-background);
}

.container header .container-header menu .main-ul .link .other-links .second-ul li a {
    display: block;
    padding: 15px;
    color: var(--main-color);
    font-weight: bold;
    text-transform: capitalize;
    font-size: 17px;
    position: relative;
}

.container header .container-header menu .main-ul .link .other-links .second-ul li a i {
    padding-right: 30px;
}

.container header .container-header menu .main-ul .link .other-links .second-ul li a::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #f8f5f5;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    z-index: -1;
}

.container header .container-header menu .main-ul .link .other-links .second-ul li a:hover::before {
    width: 100%;
}

.container header .container-header menu .main-ul .link:hover .other-links {
    top: 72px;
    opacity: 1;
    z-index: 1;
}

.container header .container-header menu .main-ul .link a:hover::before {
    width: 100%;
}


/* ----- Main ----- */
.container main {
    grid-area: main;
}


/* ----------------------- Landing ------------------------ */
.container main .landing {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 110px);
    align-items: flex-start;
}

.container main .landing::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--section-background);
    z-index: -1;
    transform-origin: top left;
    transform: skewY(-6deg);
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    -o-transform: skewY(-6deg);
}

.container main .landing .container-landing {
    width: 1170px;
    height: 700px;
    padding: 0 15px;
    justify-content: space-between;
}

.container main .landing .container-landing .text {
    width: 500px;
}

.container main .landing .container-landing .text h1 {
    text-transform: capitalize;
    letter-spacing: -2px;
    font-size: 40px;
    margin-bottom: 5px;
}

.container main .landing .container-landing .text p {
    font-size: 23px;
    line-height: 1.7;
    color: #666;
}

.container main .landing .container-landing .cadre-img {
    width: 600px;
}

.container main .landing .container-landing .cadre-img img {
    width: 100%;
    animation: 1.5s linear 0.1s infinite alternate top-down;
    -webkit-animation: 1.5s linear 0.1s infinite alternate top-down;
}

@keyframes top-down {
    0% {
        margin-top: 50px;
    }
    100% {
        margin-top: -70px
    }
}

.container main .landing .cadre-flech {
    position: absolute;
    bottom: 0;
    color: var(--main-color)
}

@keyframes top-down-2 {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0px)    ;
        -webkit-transform: translateY(0px)    ;
        -moz-transform: translateY(0px)    ;
        -ms-transform: translateY(0px)    ;
        -o-transform: translateY(0px)    ;
}
    40%, 60% {
        transform: translateY(-15px)    ;
        -webkit-transform: translateY(-15px)    ;
        -moz-transform: translateY(-15px)    ;
        -ms-transform: translateY(-15px)    ;
        -o-transform: translateY(-15px)    ;
}
}
.container main .landing .cadre-flech i::before {
    display: block;
    animation: 1.5s linear 0.1s infinite alternate top-down-2;
    -webkit-animation: 1.5s linear 0.1s infinite alternate top-down-2;
}